{% extends 'base.html' %}

{% block content %}     
    <div >
            <br>
            <p class="tm-hero-title" style="font-family: 'Amatic SC', cursive; padding-bottom: 5px;">Ceremony & Reception</p>
            <p class="tm-hero-subtitle" style="font-family: 'Amatic SC', cursive; padding-top: 5px;padding-bottom: 10px;">(Oakfield Farm - <a href="https://goo.gl/maps/JmUDGuELtS42BUd18" class="tm-hero-subtitle" style="font-family: 'Amatic SC', cursive;padding-bottom: 25px;">Map)</a> 
</p> 

            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive; padding-top: 10px;padding-bottom: 10px;">Ceremony: Conservatory </p>
              <p class="tm-hero-form" style="font-family: 'Bad Script', cursive; padding-top: 10px;padding-bottom: 10px;">Reception: Summerhouse</p> 
            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">Semi-formal attire</p> 
            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">A cash bar will be available<br></p>
            <br>
            <p class="tm-hero-title" style="font-family: 'Amatic SC', cursive;padding-bottom: 10px;">Gifts</p>
            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">We're currently planning </p>
            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">a move abroad so are trying to</p>
            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">scale back on what we own.</p>

            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">Please don't buy us a gift </p>
            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">just come with an appetite</p>
            <p class="tm-hero-form" style="font-family: 'Bad Script', cursive;padding-top: 10px;padding-bottom: 10px;">and your dancing shoes!</p>
            <br>
            <p class="tm-hero-title" style="font-family: 'Amatic SC', cursive;padding-bottom: 10px;">Accomodation</p>
            <div class="row">
                <a class="tm-hero-form" href="https://www.cradlemoon.co.za/accommodation" style="font-family: 'Bad Script', cursive">Cradle moon</a>
                <a style="font-size:medium;">&#9734;</a>
                <a class="tm-hero-form" href="https://www.nicebynature.co.za" style="font-family: 'Bad Script', cursive">Nice by Nature Guest House</a>
                <br>
                <a class="tm-hero-form" href="https://www.monchique.co.za" style="font-family: 'Bad Script', cursive">Monchique</a>
                <a style="font-size:medium;">&#9734;</a>
                <a class="tm-hero-form" href="https://cradlevalley.co.za" style="font-family: 'Bad Script', cursive">Cradle Valley Guest House</a>
                <br>
                <a class="tm-hero-form" href="https://www.hartleymanor.co.za/" style="font-family: 'Bad Script', cursive">Hartley Manor</a>
                <a style="font-size:medium;">&#9734;</a>
                <a class="tm-hero-form" href="https://www.holeinone.co.za" style="font-family: 'Bad Script', cursive">Hole in One Guest House</a>
                <br>
                <a class="tm-hero-form" href="https://www.rhn.co.za" style="font-family: 'Bad Script', cursive">Random Harvest Cottages</a>
                <a style="font-size:medium;">&#9734;</a>
                <a class="tm-hero-form" href="https://www.avianto.co.za" style="font-family: 'Bad Script', cursive">Avianto Hotel</a> 
                <br>
                <a class="tm-hero-form" href="https://www.hakunamatata.co.za/" style="font-family: 'Bad Script', cursive">Hakunamatata Lodge</a>    
                <a style="font-size:medium;">&#9734;</a>
                <a class="tm-hero-form" href="https://www.bosheuvelestate.co.za/" style="font-family: 'Bad Script', cursive">Bosheuvel Estate</a>    
            </div>  
            
            
            
            <br>
            <p class="tm-hero-title" style="font-family: 'Amatic SC', cursive;padding-bottom: 10px;">Shuttle services</p>
            <a class="tm-hero-form" href="http://www.mrshuttle.co.za/" style="font-family: 'Bad Script', cursive">Mr Shuttle</a>
            <a style="font-size:medium;">&#9734;</a>
            <a class="tm-hero-form" href="https://selecta.co.za" style="font-family: 'Bad Script', cursive">Selecta</a>
            <br>
            <a class="tm-hero-form" href="http://www.minibushirejohannesburg.co.za/" style="font-family: 'Bad Script', cursive">Mini bus hire JHB</a>
            <a style="font-size:medium;">&#9734;</a>
            <a class="tm-hero-form" href="http://taxiclub.co.za" style="font-family: 'Bad Script', cursive">Taxi Club</a>
        </div>

{% endblock %}
